.calendar {
  display: flex;
  justify-content: center;
  padding: 55px 95px 0px 95px;
  color: #959494;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.colors {
  display: flex;
  margin-top: 15px;
}

.colorsCub {
  margin: 0px 15px 0px 15px;
  display: flex;
}


.colors span {
  font-size: 8px;
}

.months {
  display: flex;
  justify-content: space-evenly;
}

.days-week {
  margin-right: 5px;
}

.days-week div {
  margin: 15px 0 20px 0;
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}